# Pandas Import

In [2]:
import pandas as pd

# Numeric DataType In Pandas

In [3]:
# Create a DataFrame with integer data
data = {
    'age': [25, 30, 35, 40],
    'selary': [50000, 60000, 70000, 80000],
}
df = pd.DataFrame(data)
# Display the DataFrame
df

   age  selary
0   25   50000
1   30   60000
2   35   70000
3   40   80000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int64
 1   selary  4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes

In [5]:
df.dtypes

age       int64
selary    int64
dtype: object

In [6]:
# Change data type to int32
df['age'] = df['age'].astype('int32')
df['selary'] = df['selary'].astype('int32')
# Display the DataFrame after changing data types
df

   age  selary
0   25   50000
1   30   60000
2   35   70000
3   40   80000

In [7]:
df.dtypes

age       int32
selary    int32
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int32
 1   selary  4 non-null      int32
dtypes: int32(2)
memory usage: 164.0 bytes