# Pandas Import

In [6]:
import pandas as pd

# Set to Series and DataFrame

In [3]:
set = {1, 2, 3, 4, 5}

In [2]:
set

{1, 2, 3, 4, 5}

In [4]:
type(set)

set

In [8]:
set_series = pd.Series(set)
set_series

TypeError: 'set' type is unordered

In [9]:
set_series = pd.Series(list(set))
set_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
df = pd.DataFrame(set_series, columns=['Data Frame'])
df

   Data Frame
0           1
1           2
2           3
3           4
4           5

In [12]:
set_series = pd.Series(tuple(set))
set_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
df = pd.DataFrame(set_series, columns=['Data Frame'])
df

   Data Frame
0           1
1           2
2           3
3           4
4           5

# Tuple to Series and DataFrame

In [20]:
tup = (1, 2, 3, 4, 5, True, False, 'Hello', 'World')
tup

(1, 2, 3, 4, 5, True, False, 'Hello', 'World')

In [21]:
type(tup)

tuple

In [22]:
tuple_series = pd.Series(tup)
tuple_series

0        1
1        2
2        3
3        4
4        5
5     True
6    False
7    Hello
8    World
dtype: object

In [23]:
df = pd.DataFrame(tuple_series, columns=['Data Frame'])
df

  Data Frame
0          1
1          2
2          3
3          4
4          5
5       True
6      False
7      Hello
8      World